button{
  -moz-appearance: none;
  -webkit-appearance: none;
  border:1px solid #FFF;
  padding: 1em;
  background: transparent;
  color:#FFF;
  border-radius: 1em;
  min-width: 10em;
}
button.disable,button.notpicked{
  opacity: .2;
}
button.disable.notpicked{
  opacity:0;
}
button.disable.picked{
  opacity:.5;
}
button.picked{
  border-color:#CDFAB5;
}
#start button{
  margin:1em auto;
}
