@font-face {
    font-family: 'prototyperegular';
    src: url('/fonts/prototype-webfont.woff2') format('woff2'),
         url('/fonts/prototype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
